@import "reset";

* {
	box-sizing: border-box;
}

body {
	background: black;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
}

.flash {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	visibility: hidden;
	z-index: 10;
}


section {
	position: relative;
	height: percentage(1/6);
	border-bottom: 5px solid #999;

	p {
		padding: 40px 10px 10px 10px;
	}

	.subdiv {
		&.half {
			width: 50%;
		}
		&.third {
			width: percentage(1/3);
		}
		float: left;
		position: relative;
		border-right: 5px solid #999;
		&:last-child {
			border-right: 0;
		}
	}

	h2 {
		position: absolute;
		top: 10px;
		left: 10px;
		font-size: 18pt;
		text-transform: uppercase;
		font-weight: 900;
		letter-spacing: 2px;
	}

	input {
		background: #111;
		border: 3px solid transparent;
		color: white;
		font-size: 60pt;
		outline: none;
		width: 100%;
		height: 100%;
		// text-align: center;

		&:focus {
			border-color: white;
		}
	}

	&.load {
		position: relative;
		height: percentage(2/6);

		button {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 10px 20px;
			font-size: 15pt;
		}
	}

	&.stripes {
		display: none;
		position: relative;
		height: percentage(2/6);
		> div {
			position: relative;
			height: 50%;
			width: 100%;
			overflow: hidden;
			transform-origin: bottom left;

			&:nth-child(1) {
				> div {
					transform: rotate(-45deg) translateY(-25%)  scaleY(4) ;
				}
			}
			&:nth-child(2) {
				> div {
					transform: rotate(45deg) translateY(-25%)  scaleY(4) ;
				}
			}

			> div {
				position: absolute;
				width: 8%;
				height: 100%;
				background: white;
				transform-origin: 50% 50%;
				
				&:nth-child(2) {
					left: 20%;
				}
				&:nth-child(3) {
					left: 40%;
				}
				&:nth-child(4) {
					left: 60%;
				}
				&:nth-child(5) {
					left: 80%;
				}
				&:nth-child(6) {
					left: 100%;
				}
			}
		}
	}
}